body {
  box-sizing: border-box;
}
body * {
  box-sizing: inherit;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-title {
  font-size: 1.5em;
  margin: 0;
}

.App-intro {
  max-width: 600px;
  margin: 20px auto;
}

h1 {
  margin-left: 20px;
}

.App {
  font-family: 'Fira Sans';
}

.App * {
  font-family: inherit;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#demo {
  max-width: 1000px;
  margin: auto;
}
